/*Color palette is: white #ffffff, Light grey #efefef, grey #c0c0c0, dark blue #28254e, black #090909*/

* {
    box-sizing: border-box;
}

body {
    background-color: #0c0c0c;
    color: #949494;
    margin: 0;
}


/*Header*/
h1 {
    font-family: 'Lobster Two', cursive;
    letter-spacing: 3px;
    font-size: 50px;
    color: white;

}

.navbar-custom{
    background-color: #efefef;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


/*Heading to better format the page*/
.header {

    background-image: url("bgstars.png");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;


    padding: 20px;
    text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    width: 25%;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}



/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.footer {
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
}

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

 
* {box-sizing:border-box}

/* Container for skill bars */
.skillcon {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.colorbar {width: 90%; background-color: steelblue;}

#content {
    background-color: #FFF;
    margin: 15px 20%;
}

.aboutimg{
    border-radius: 4px;
    width: 500px;
}
  .navbar {
    background-color: #c0c0c0;
  }

  .navbar-nav .nav-link {
    color: #ffffff;
  }

.imgtextcontain{
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .uppercentered {
    position: absolute;
    margin: 10px;
    top: 250px;
    left: 40%;
    color: white;
  }

  .lowercentered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .imgfilt {
    filter: opacity(50%);
    width:100%;
  }

  .lightertext{
    color: lightgrey;
  }

  .h2center{
    text-align: center;
  }